body{
    background: url(../assets/IMG/background.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
}
.shortcuts{
    display: flex;
}
#left , #right{
    display: flex;
}
#left{
    margin-left: 4vw;
}
#left p{
    margin-right: 2vw;
}
#right{
    position: absolute;
    right: 6vw;
}
#right p{
    margin-left: 1vw;
}
.header{
    /* display: grid; */
    display: flex;
    /* grid-template-columns: 20vw 10vw 90vw; */
    background: rgba(18, 18, 18,0.7);
    margin-top: -1vh;
    align-items: center;
    width: 92vw;
    margin-left: 4vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu{
    display: flex;
    list-style: none;
    /* background: gray; */
    justify-content: right;
    width: 71vw;

}
.menu li{
    margin-left: 3vw;
    font-weight: 600;
    cursor: pointer;
}
figure{
    width: 3vw;
    margin-left: 1.4vw;
}
figure img{
    width: 100%;
    height: 45px;
    border-radius: 50%;
}
.container{
    display: flex;
    margin-left: 4vw;
}
.banner{
    margin-top: 17vh;
    width: 40vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner h1{
    font-size: 2.4rem;
}
.banner p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    width: 50vw;
}
.banner button{
    background: #ffc401;
    width: 11vw;
    height: 6vh;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #ffaf01;
}
.form{
    width: 20vw;
    height: 65vh;
    margin-top: 4vh;
    margin-left: 29vw;
}
.tittle_form{
    background: white;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: none;
    margin-left: -1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    margin: -1px;
    background: white;
    border: none;
    padding: 3vw;
}
input{
    width: 13vw;
    margin-bottom: 1vh;
    height: 5vh;
    border: 1px solid #cecece;
    outline: none;
    padding-left: 15px;
}
#search{
    background: #ffc401;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 12vw;
    margin-left: 1vw;
    font-size: 1rem;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}